body {
background-color:#DDD;
}
[class*="span"] {
margin-top: 10px;
margin-bottom: 10px;
}
#formulaire {
background-color:#CCC;
padding: 10px;
}
.liMenu
{
  display: inline-block;
  margin: 0px;
}
.navbar .nav
{
	margin: 0px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner
{
	padding: 0px;
}